<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="tailwindcss.css" />
    <title>TO-DO</title>
  </head>
  <body class="bg-gray-700 w-screen f-screen m-0 p-0">
    <div id="app">
      <div class="flex items-center justify-center space-x-2 mt-10">
        <input v-model='list'
          class="text-lg py-2 w-1/2 rounded"
          type="text"
          placeholder="Add a task"
        />

        <button @click='showingTask()'
          class="py-2.5 px-5 rounded bg-blue-500 hover:bg-blue-400 duration-300 shadow-md focues:outline-none"
        >
          <h1 class="text-white">Add</h1>
        </button>
      </div>
      <div class=" flex justify-center mt-5">
          <ol class=" rounded h-auto w-3/5">
            <li class="m-2 text-white p-2 rounded bg-gray-500" v-for="list in lists">
                {{list}}
            </li>
          </ol>
      </div>
    <!--Vue-end-->
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="Vue.js"></script>
  </body>
</html>